.header-container{
    display: flex;
    flex-direction: column;

    .top{
        background-color: #000;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 37px;
        padding: 0 96px;

        .my-acc-menu-btn{
            color: #FFF;
            display: flex;
            flex-direction: row;
        }
    }

    .bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 96px;
        height: 80px;
        border-bottom: #D6D6D6 1px solid;
        border-top: #D6D6D6 1px solid;

        .nav-buttons-container{
            display: flex;
            flex-direction: row;
        }

        .logo{
            background-image: url(../../../Assets/images/logo.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 88px;
            height: 48px;
            cursor: pointer;
        }
    }
}