.articles-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 96px;
    gap: 16px;


    .articles-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        background-color: hsla(0, 0%, 97%, 1);
        padding: 32px 16px 16px 16px;
        width: 100%;
    }

    .article{
        background-color: #FFF;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        padding: 24px;
        gap: 24px;

        .img-container{
            flex: 1;

            .img{
                width: 100%;
                height: 100%;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        .content{
            flex: 3;
            display: flex;
            flex-direction: column;
            gap: 12px;

            $max-nb-lines: 5;
            .description{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: $max-nb-lines;
                        line-clamp: $max-nb-lines; 
                -webkit-box-orient: vertical;
            }

            .creation-date{
                font-size: 1em;
            }
        }

        .buttons-container{
            flex: 1;
            display: flex;
            align-items: center;
        }
    }
}