.create-article-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 96px;
    gap: 16px;

    .form-container{
        form{
            display: flex;
            flex-direction: column;
            gap: 16px;

            .form-field{
                display: flex;
                flex-direction: column;
            }
        }
    }
}