.not-found-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 96px;
    gap: 16px;

    .title{
        font-size: 3rem;
        font-weight: 900;
        -webkit-text-stroke: 0.01px black;
        color: #FFF0;
    }

    .text{
        font-size: 1rem;
    }
}