.article-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 96px;
    gap: 16px;

    .img{
        width: 160px;
        height: 120px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}