.header-button {
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.2s, color 0.2s;
  
    &:hover {
      background-color: #f0f0f0;
      color: #333;
    }
  }
  
  .primary-button {
    font-size: 14px;
    padding: 12px 32px;
    border-radius: 4px;
    background-color: #000;
    color: #FFF;
    transition: background-color 0.2s, color 0.2s;
  
    &:hover {
      background-color: #444;
      color: #FFF;
    }
  }
  