@font-face {
    font-family: "Avenir";
    src: url("../Assets/fonts/avenir_roman_12.otf");
}

* {
    font-family: "Avenir";
}

body {
    font-size: 12px;
}

h1.title {
    font-size: 48px;
    font-weight: 900;
}

h2.title {
    font-size: 20px;
    font-weight: 800;
}

p {
    font-size: 16px;
    font-weight: 400;
}