.input{
    color: #6E6F73;
    font-size: 16px;
    padding: 12px 16px;
    line-height: 1em;
    border-radius: 8px;
    border: 1px solid #E7E7E7;

    &::placeholder, &::-ms-input-placeholder{
        color: red;
        opacity: 1;
    }
}

input::file-selector-button {
    font-size: 14px;
    padding: 12px 32px;
    border-radius: 4px;
    border: none;
    background-color: #000;
    color: #FFF;
    transition: background-color 0.2s, color 0.2s;
}