.breadcrumbs-container{
    padding: 0 96px;

    ul{
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        color: #6E6F73;

        li{
            font-size: 12px;
            padding: 8px 12px;
            cursor: pointer;
            transition: 0.2s;

            &:hover{
                background-color: #f0f0f0
            }
        }

        .icon{
            width: 16px;
            height: 16px;
            background-image: url(../../../Assets/icons/breadcrumb-arrow.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}